.address-search-container {
  display: flex;
}

.search-button {
  flex-basis: 10%;
}

.address-info {
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;
  border-top: 2px solid #343a40;
}

.transactions-table-footer {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.transactions-table-footer > button {
  margin: 5px;
}